body {
    text-align: center;
    background-color: #0B0C10;
    color: #66FCF1;
}

header {
    font-weight: bold;
    font-size: 25px;
}

#clock, #main {
    display: inline-block;
    padding: 10px 0px;
    font-size: 35px;
}

#countdownTo {
    padding: 10px 0px;
    font-size: 35px;
}

#countdownTimer {
    padding: 10px 0px;
}

form {
    padding-top: 5px;
}

input[type='button'] {
    background-color: #C5C6C7;
}

