table {
    padding:10px;
    margin: auto;
    background-color:#0099ff;
    border: solid black;
    margin-top: 80px;
}

td {
    border: solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
}
